[submodule "external/onikakushi"]
	path = external/onikakushi
	url = https://github.com/07th-mod/onikakushi.git
[submodule "external/himatsubushi"]
	path = external/himatsubushi
	url = https://github.com/07th-mod/himatsubushi.git
[submodule "external/tatarigoroshi"]
	path = external/tatarigoroshi
	url = https://github.com/07th-mod/tatarigoroshi.git
[submodule "external/watanagashi"]
	path = external/watanagashi
	url = https://github.com/07th-mod/watanagashi.git
